.var-button {
  font-size: 1.4rem;

  &.primary {
    background-color: var(--primary-color);
    color: white !important;

    .var-button__content{
      color: white !important;
    }
  }
}

.var-button--primary {
  color: #fff;
  background-color: var(--button-primary-color) !important;
}
