:root {
  --dialog-width: 28rem !important;
  --dialog-border-radius: 0.3rem !important;
  --dialog-title-padding: 2rem 2rem 0 !important;
  --dialog-message-color: #888 !important;
  --dialog-message-padding: 1.2rem 2rem !important;
  --dialog-message-line-height: 2.4rem !important;
  --dialog-actions-padding: 0 1.2rem 1.2rem !important;
  --dialog-button-margin-left: 0.6rem !important;
}
