:root {
  --color-success: #ff5457 !important;
  --color-primary: #ff5457 !important;
  --font-size-xs: 1rem !important;
    --font-size-sm: 1.2rem !important;
    --font-size-md: 1.4rem !important;
    --font-size-lg: 1.6rem !important;
    --icon-size-xs: 1.6rem !important;
    --icon-size-sm: 1.8rem !important;
    --icon-size-md: 2rem !important;
    --icon-size-lg: 2.2rem !important;

    --icon-size: 2rem;
}
